.carousel-indicators {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
  bottom: 15% !important;
}

.carousel-indicators .active {
  background-color: orange;
}

@media screen and (max-width: 1024px) {
  .carousel-indicators {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    bottom: 0 !important;
  }
  .jumbotron {
    display: none;
  }
}

.jumbotron {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2) !important;
  padding: 1% !important;
  margin-bottom: 0 !important;
  margin-left: 2vh !important;
  margin-top: 20% !important;
  color: white !important;
  width: 56%;
  -webkit-box-shadow: black 0px 0px 30px;
          box-shadow: black 0px 0px 30px;
  height: 17em !important;
  border-radius: 10px !important;
  -webkit-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
}

.line {
  padding: 0;
  width: 78%;
  margin: 0 0 5px 0;
  border-radius: 30px;
  border: rgba(252, 252, 252, 0.6) 2px solid;
}

.trailer {
  margin-left: 10%;
  background-color: #ffffff15 !important;
}

.trailer:hover {
  color: white !important;
  background-color: #28a745 !important;
}

button {
  -webkit-transition: ease-in-out 0.5s !important;
  transition: ease-in-out 0.5s !important;
}

.bShow {
  border-radius: 6px !important;
  background-color: #ffffff15 !important;
  color: #ff4343 !important;
}

.bShow:hover {
  color: white !important;
  background-color: #dc3545 !important;
}

.fa {
  font-size: 20px;
  padding: 4px;
  color: orange;
  -webkit-box-shadow: orange 0px 1px 0px;
          box-shadow: orange 0px 1px 0px;
}

.first {
  margin-left: 15px;
}

.navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-link {
  color: white !important;
  -webkit-transition: 0.5s !important;
  transition: 0.5s !important;
  border: 1px transparent;
  border-radius: 6px;
}

.nav-link:hover {
  -webkit-box-shadow: #ff4343 0px 2px 0px;
          box-shadow: #ff4343 0px 2px 0px;
}

.signUp {
  background-color: #ff434386;
  -webkit-box-shadow: transparent 0 0 0 !important;
          box-shadow: transparent 0 0 0 !important;
}

.signUp:hover {
  background-color: #ff4343;
}

.uSymbol {
  color: #ff4343;
}

@media screen and (max-width: 990px) {
  .carousel-indicators {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    bottom: 0 !important;
  }
  .jumbotron {
    display: none;
  }
  .navbar-nav {
    background-color: rgba(0, 0, 0, 0.5) !important;
  }
  .navbar {
    background-color: rgba(0, 0, 0, 0.7) !important;
    position: relative !important;
  }
  .navbar-brand {
    font-size: 1.3rem !important;
  }
  .signUp {
    background-color: transparent;
  }
  .signUp:hover {
    background-color: transparent;
    -webkit-box-shadow: #ff4343 0px 2px 0px !important;
            box-shadow: #ff4343 0px 2px 0px !important;
  }
  .signIn {
    margin: 0 !important;
  }
}
/*# sourceMappingURL=App.css.map */